.formWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4rem;

	@media (max-width: 1100px) {
		justify-content: center;
	}

	img {
		width: 30rem;

		@media (max-width: 1100px) {
			display: none;
		}
	}

	.form {
		display: flex;
		flex-direction: column;
		width: 40rem;
		gap: 1rem;

		.formControl {
			display: flex;
			flex-direction: column;

			textarea {
				resize: vertical;
				min-height: 5rem;
				max-height: 10rem;
			}

			label {
				font-size: var(--small-size);
				color: var(--grey-color);
				padding-bottom: 0.5rem;
			}

			select {
				cursor: pointer;
			}

			span {
				svg {
					fill: var(--main-color);
				}
			}
		}

		button {
			padding: 0.7rem;
			border-radius: 0.5rem;
			color: var(--white-color);
			background: var(--main-color);
			cursor: pointer;
			font-size: var(--small-size);
			transition: background 0.2s ease, border 0.2s ease;
			border: 1px solid transparent;

			&:hover {
				background: var(--main-hover-color);
				border-color: var(--main2-color);
			}
		}

		.errorMessage {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			color: var(--main-color);
			margin-top: 1rem;
		}
	}
}

.heading {
	display: flex;
	align-items: center;
	position: relative;
	font-size: var(--biggest-size);
	color: var(--white-color);
	margin-bottom: 2rem;
}

textarea,
input,
select {
	font-family: Roboto;
	font-size: var(--small-size);
	color: var(--white-color);
	background-color: var(--black-color);
	border: 1px solid var(--black4-color);
	border-radius: 0.5rem;
	padding: 1rem;
	outline: none;
	border-radius: 0.5rem;

	&:focus {
		border: 1px solid var(--main-color);
	}
}

.disabledButton {
	opacity: 0.5;
	cursor: not-allowed;
}
