.friendsWrapper {
	padding: 5rem 0;
	button {
		width: 100%;
	}

	.list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;

		@media (max-width: 1000px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
