.tabPanelWrapper {
	div {
		div {
			div {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
			}
			button {
				transition: color 0.2s ease;
				z-index: 1;
			}
			span {
				height: 100%;
				background-color: var(--black-color);
				border: 1px solid var(--black4-color);
				border-radius: 0.5rem;
			}
		}
	}
}

.form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1.5rem;
	width: 100%;
	.fieldset {
		display: flex;
		flex-direction: column;

		.passwordInput {
			display: flex;
			align-items: center;
			position: relative;

			.passwordToggleButton {
				position: absolute;
				right: 0;
				background: none;
				border: none;
				margin: 0;
				padding: 1rem;
				color: var(--grey-color);
				cursor: pointer;
			}
		}

		input {
			font-family: Roboto;
			font-size: var(--small-size);
			color: var(--white-color);
			background-color: var(--black-color);
			border: 1px solid var(--black4-color);
			padding: 1rem;
			outline: none;
			border-radius: 0.5rem;
			width: 100%;

			&:focus {
				border: 1px solid var(--main-color);
			}
		}

		label {
			font-size: var(--small-size);
			color: var(--grey-color);
			padding-bottom: 1rem;
		}

		.errorMessage {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			color: var(--main-color);
			margin-top: 1rem;
		}
	}
}
