.profileWrapper {
	padding: 5rem 0;

	.profileModules {
		.profileHeader {
			display: flex;
			align-items: center;
			gap: 2rem;

			.image {
				position: relative;
				display: flex;
				img {
					width: 11rem;
					height: 11rem;
					background-size: cover;
					border-radius: 50%;
					pointer-events: none;
				}

				label {
					position: absolute;
					bottom: 0;
					right: 0;
					background-color: var(--black3-color);
					svg {
						fill: white;
					}
				}
			}

			.welcomeHeading {
				color: var(--white-color);
				font-size: var(--large-size);
				display: flex;
				flex-direction: column;

				p {
					font-size: var(--basic-size);
					color: var(--grey-color);
				}
			}
		}

		.profileInfo {
			margin-top: 7rem;
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			max-width: 40rem;
			gap: 6rem;

			@media (max-width: 1000px) {
				grid-template-columns: repeat(1, 1fr);
			}

			ul {
				display: grid;
				grid-template-columns: 1;
				gap: 1rem;
				list-style: none;

				button {
					margin: 0;
				}

				a {
					button {
						width: 100%;
					}
				}

				li {
					padding: 0.7rem 1rem;
					color: var(--white-color);
					border-radius: 0.5rem;
					background-color: var(--black-color);
					border: 1px solid var(--black4-color);

					div {
						display: flex;
						flex-direction: column;

						h3 {
							padding-bottom: 0.3rem;
						}
					}
				}
			}

			.optionsContent {
				display: flex;
				flex-direction: column;
			}

			.managmentWrapper {
				.buttons {
					display: flex;
					gap: 1rem;
					align-items: center;
				}
			}
		}
	}
}
