.filterPopup {
	position: relative;
	border-radius: 0.5rem;
	transition: border 0.2s ease;
	select {
		cursor: pointer;
		background-color: var(--black-color);
		border: 1px solid var(--black4-color);
		padding: 0.7rem;
	}
}
