.nav {
	position: fixed;
	background-color: var(--black-color);
	border: 1px solid var(--black4-color);
	min-width: 23rem;
	max-width: 23rem;
	height: 100vh;
	z-index: 2137;
	transition: min-width 0.2s ease;

	@media (max-width: 1200px) {
		position: fixed;
	}

	@media (max-width: 600px) {
		min-width: 20rem;
		max-width: 20rem;
	}

	.hideButton {
		position: absolute;
		top: 2rem;
		right: -5rem;
		cursor: pointer;
		color: var(--white-color);
		border-radius: 1rem;
		width: 3rem;
		height: 3rem;
		background-color: var(--black-color);
		border: 1px solid var(--black4-color);
		transform: rotate(-180deg);
		transition: background-color 0.2s ease;

		&:hover {
			background-color: var(--black3-color);
		}

		.toggledArrow {
			transform: rotate(180deg);
		}
	}

	.navWrapper {
		display: flex;
		flex-direction: column;

		.login {
			display: flex;
			align-items: center;
			font-size: var(--basic-size);
			color: var(--grey-color);
			padding: 0.4rem;
			transition: color 0.2s ease;
			padding: 1.5rem 2rem;
			&:hover {
				color: var(--white-color);
				background-color: var(--black4-color);
			}

			.icon {
				margin-right: 1.5rem;
			}
		}

		.logo {
			color: var(--white-color);
			font-size: var(--logo-size);
			margin: 2.5rem 0 0 1.7rem;

			@media (max-width: 600px) {
				margin: 2.5rem 0 0 1.4rem;
			}

			img {
				pointer-events: none;
				width: 2.7rem;

				@media (max-width: 600px) {
					width: 2rem;
				}
			}

			.fullLogo {
				display: flex;
				align-items: center;
				gap: 1rem;

				h2 {
					font-size: var(--logo-size);
				}
			}
		}

		.links {
			padding: 0.5rem;
			display: flex;
			flex-direction: column;
			margin-top: 6rem;

			a {
				position: relative;
				display: flex;
				align-items: center;
				font-size: var(--basic-size);
				color: var(--grey-color);
				transition: color 0.2s ease;
				padding: 1.5rem 2rem;
				border-radius: 1rem;
				border: 1px solid transparent;

				@media (max-width: 600px) {
					padding: 1rem;
				}

				&:hover {
					color: var(--white-color);
					background-color: var(--black-color);
					border: 1px solid var(--black4-color);
				}

				.icon {
					margin-right: 1.5rem;
				}

				span {
					span {
						top: -0.5rem;
						right: -0.5rem;
					}
				}
			}

			@media (max-width: 600px) {
				label {
					display: none;
				}
			}

			.loginMark {
				position: absolute;
				top: 0.4rem;
				right: -2rem;
				font-size: var(--mini-size);
				padding: 0.3rem 0.6rem;
				border-radius: 22rem;
				background-color: var(--main-color);
				color: white;
			}

			label {
				padding: 0.7rem 1.3rem;
			}

			.activeLink,
			.active {
				display: flex;
				align-items: center;
				font-size: var(--basic-size);
				color: var(--white-color);
				padding: 0.4rem;
				transition: color 0.2s ease;
				padding: 1.5rem 2rem;
				background-color: var(--black3-color);
				border-radius: 1rem;
				border: 1px solid transparent;

				@media (max-width: 600px) {
					padding: 1rem;
				}

				&:hover {
					color: var(--white-color);
					background-color: var(--black3-color);
				}

				.icon {
					margin-right: 1.5rem;
				}

				span {
					span {
						top: -0.5rem;
						right: -0.5rem;
					}
				}
			}
		}
	}
}

.hiddenNav {
	position: fixed;
	min-width: 6.5rem;
	max-width: 6rem;

	@media (max-width: 600px) {
		min-width: 4.5rem;
		max-width: 5rem;
	}
}

.hiddenLinkTitle {
	display: none;
}

.padding0 {
	padding: 0;
}
