.nav {
	position: fixed;
	display: flex;
	align-items: center;
	left: 0;
	top: 0;
	background-color: var(--black-color);
	width: 100vw;
	height: 5rem;
	z-index: 2137;
	.navWrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		max-width: 1400px;
		margin: 0 auto;
		padding: 0 2rem;
		width: 100%;
		.logo {
			color: white;
			font-size: var(--logo-size);
		}
		.links {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			gap: 1rem;

			a {
				position: relative;
				.notesLength {
					position: absolute;
					top: -0.4rem;
					right: -0.4rem;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 1.1rem;
					height: 1.1rem;
					color: white;
					font-size: 0.8rem;
					background-color: var(--main-color);
					border-radius: 50%;
					pointer-events: none;
				}
			}
		}
	}
}
