.nav {
	position: fixed;
	display: flex;
	align-items: center;
	left: 0;
	top: 0;
	background-color: var(--black-color);
	width: 100vw;
	height: 5rem;
	z-index: 2137;
	.navWrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		max-width: 1400px;
		margin: 0 auto;
		padding: 0 2rem;
		width: 100%;
		.logo {
			color: white;
			font-size: var(--logo-size);
		}
		.links {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			gap: 1.5rem;

			.link {
				color: var(--grey-color);
				padding: 0.4rem;
				transition: color 0.2s ease;
				&:hover {
					color: var(--white-color);
				}
			}

			.activeLink {
				color: var(--white-color);
				padding: 0.4rem;
				&:hover {
					color: var(--white-color);
				}
			}
		}
	}
}
