.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	.headerModules {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 0 2rem;
		@media (max-width: 1000px) {
			justify-content: center;
		}

		h1 {
			color: var(--white-color);
			font-size: var(--biggest-size);
			margin-bottom: 0.4rem;
		}
		p {
			font-size: var(--basic-size);
			color: var(--grey-color);
			margin-bottom: 1.5rem;
		}

		img {
			width: 38rem;
			@media (max-width: 1000px) {
				display: none;
			}
		}
		.buttons {
			display: flex;
			align-items: center;
			gap: 1rem;
		}
	}
}
