.mainWrapper {
	.profileWrapper {
		padding: 5rem 0;

		button {
			margin-bottom: 2rem;
			.icon {
				font-size: var(--small-size);
			}
		}

		.profileHeader {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 2rem;
			margin-bottom: 6rem;

			.buttons {
				display: flex;
				gap: 1rem;

				button {
					margin: 0;
				}
			}

			@media (max-width: 768px) {
				align-items: center;
				flex-direction: column;
			}

			.image {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 2rem;

				@media (max-width: 768px) {
					align-items: center;
					flex-direction: column;
					text-align: center;
				}

				.imgBox {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;

					img {
						width: 11rem;
						height: 11rem;
						background-size: cover;
						border-radius: 50%;
						pointer-events: none;
						object-fit: cover;
					}

					&::after {
						content: '';
						position: absolute;
						width: 12rem;
						height: 12rem;
						border-radius: 50%;
						background: linear-gradient(36deg, var(--black4-color) 0%, var(--main-color) 100%);
						z-index: -1;
					}
				}

				label {
					position: absolute;
					bottom: 0;
					right: 0;
					background-color: var(--black3-color);
					svg {
						fill: var(--white-color);
					}
				}
			}

			.welcomeHeading {
				color: var(--white-color);
				font-size: var(--large-size);
				display: flex;
				flex-direction: column;

				p {
					font-size: var(--basic-size);
					color: var(--grey-color);
				}
			}
		}

		.profileInfo {
			display: flex;
			flex-direction: column;
			gap: 4rem;
			max-width: 50rem;

			.emptyWrapper {
				display: flex;
				flex-direction: column;
				align-items: center;

				img {
					width: 15rem;
				}

				h2 {
					color: var(--white-color);
					padding-top: 2rem;
				}
			}

			.description {
				background-color: var(--black-color);
				border: 1px solid var(--black4-color);
				border-radius: 0.5rem;
				padding: 1rem;
				color: var(--white-color);
			}

			ul {
				display: grid;
				grid-template-columns: 1;
				gap: 1rem;
				list-style: none;

				button {
					margin: 0;
				}

				a {
					button {
						width: 100%;
					}
				}

				li {
					padding: 0.7rem 1rem;
					color: var(--white-color);
					border-radius: 0.5rem;
					background-color: var(--black-color);
					border: 1px solid var(--black4-color);

					div {
						display: flex;
						flex-direction: column;

						h3 {
							padding-bottom: 0.3rem;
						}
					}
				}
			}
		}
	}
}
