.note {
	position: relative;
	border-radius: 0.5rem;
	padding: 1rem;
	list-style: none;
	width: 100%;
	background-color: var(--black-color);
	border: 1px solid var(--black4-color);

	.header .headerTitle {
		background-color: var(--black-color);
		border: 1px solid var(--black4-color);
		width: 100%;
		padding: 1rem;
		border-radius: 0.5rem;
	}

	.header {
		display: flex;
		gap: 1.5rem;
		p {
			color: var(--white-color);
			font-size: var(--basic-size);
		}
		h2 {
			color: var(--white-color);
			font-size: var(--big-size);
			width: 100%;
			padding-top: 0.5rem;
			padding-left: 1.4rem;
			border-left: 1px solid var(--black4-color);
		}
		.user {
			position: relative;
			display: flex;
			align-items: center;
			gap: 1rem;
			@media (max-width: 600px) {
				display: none;
			}

			img {
				pointer-events: none;
			}
		}
	}
	.content {
		border-radius: 0.5rem;
		margin: 2rem 0 2rem 0;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		background-color: var(--black-color);
		border: 1px solid var(--black4-color);
		padding: 1rem;

		h3 {
			color: var(--grey-color);
		}

		p {
			color: var(--white-color);
			font-size: var(--basic-size);
			padding-bottom: 0.5rem;
			max-height: 4rem;
			overflow-y: auto;

			&::-webkit-scrollbar-thumb {
				background-color: var(--black4-color);
				border-radius: 20rem;
				border: 1px solid var(--black3-color);
			}
			&::-webkit-scrollbar {
				background-color: none;
				width: 0.7rem;
			}
		}
	}
	.buttons {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
}

.form {
	.content {
		padding: 1rem;
		background: none;
	}
	.header,
	.contentParams {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		input {
			background-color: var(--black-color);
			border: 1px solid var(--black4-color);
			border-radius: 0.5rem;
		}

		textarea {
			resize: none;
			height: 10rem;
			background-color: var(--black-color);
			border: 1px solid var(--black4-color);
			border-radius: 0.5rem;
		}

		label {
			font-size: var(--small-size);
			color: var(--grey-color);
			padding-bottom: 0.5rem;
		}

		select {
			cursor: pointer;
			background-color: var(--black-color);
			border: 1px solid var(--black4-color);
		}
	}

	label {
		color: var(--white-color);
		span {
			svg {
				fill: var(--main-color);
			}
		}
	}
}

.heading {
	display: flex;
	align-items: center;
	position: relative;
	font-size: var(--biggest-size);
	color: var(--white-color);
	margin-bottom: 2rem;
}

.detailPageWrapper {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: repeat(1, 1fr);
	gap: 3rem;
	margin-top: 10rem;

	@media (max-width: 1100px) {
		display: flex;
		flex-direction: column;
	}

	.singleItemWrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 3rem;
	}

	.details {
		.noteDetailsWrapper {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
			background-color: var(--black-color);
			border: 1px solid var(--black4-color);
			border-radius: 0.5rem;
			padding: 1rem;

			@media (max-width: 1100px) {
				width: 100%;
				margin-bottom: 4rem;
			}

			.historyList {
				display: grid;
				gap: 1rem;
				.historyItem {
					display: flex;
					gap: 1rem;
					align-items: center;
					color: var(--white-color);
					list-style: none;

					.icon {
						font-size: var(--basic-size);
						opacity: 0;
						transform: translateX(-0.5rem);
						transition: opacity 0.2s ease, transform 0.2s ease;
					}

					&:hover {
						.icon {
							opacity: 1;
							transform: translateX(0);
						}
					}
				}
			}

			.detailsControls,
			div {
				background-color: var(--black-color);
				border: 1px solid var(--black4-color);
				color: var(--white-color);
				border-radius: 0.5rem;

				.user {
					display: flex;
					gap: 1rem;
					align-items: center;
					border-radius: 0.5rem;
					transition: background-color 0.2s ease;

					p {
						color: var(--white-color);
					}
				}

				.tags {
					svg {
						fill: var(--white-color);
					}
				}
			}

			.detailsControls {
				padding: 1rem;

				h3 {
					padding-bottom: 0.7rem;
				}
			}
		}
	}
}

.saveButton {
	padding: 0.7rem 1.5rem;
	border-radius: 0.5rem;
	color: var(--white-color);
	background: var(--main-color);
	cursor: pointer;
	font-size: var(--small-size);
	transition: background 0.2s ease, border 0.2s ease;
	border: 1px solid transparent;
	margin-top: 1rem;

	&:hover {
		background: var(--main-hover-color);
		border-color: var(--main2-color);
	}
}
