.note {
	position: relative;
	border-radius: 0.5rem;
	padding: 1rem;
	background-color: var(--black3-color);
	list-style: none;
	width: 100%;

	.header {
		background-color: var(--black4-color);
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
		p {
			color: var(--white-color);
			font-size: var(--basic-size);
		}
		h2 {
			color: var(--grey-color);
			font-size: var(--big-size);
		}
	}
	.content {
		border-radius: 0.5rem;
		padding: 1rem;
		margin: 2rem 0 2rem 0;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		background-color: var(--black4-color);

		h3 {
			color: var(--grey-color);
		}

		p {
			color: var(--white-color);
			font-size: var(--basic-size);
			padding-bottom: 0.5rem;
		}
	}
	.buttons {
		display: flex;
		align-items: center;
		gap: 1rem;

		button {
			box-shadow: 0px 0px 30px -17px rgba(25, 118, 210, 1);

			&:hover {
				box-shadow: 0px 0px 50px -15px rgba(25, 118, 210, 1);
			}
		}
	}
}

.form {
	.header {
		margin-bottom: 1rem;
		label {
			color: var(--grey-color);
		}
		input {
			color: var(--white-color);
		}

		p {
			color: var(--grey-color);
		}
	}

	label {
		color: var(--white-color);
		margin-bottom: 1rem;
		span {
			svg {
				fill: var(--main-color);
			}
		}
	}
	.content {
		.contentParams {
			div {
				color: white;
			}
			p {
				color: var(--grey-color);
			}
		}
	}
}

.favouriteNote {
	border: 4px solid var(--black4-color);
}

.heading {
	display: flex;
	align-items: center;
	position: relative;
	font-size: var(--biggest-size);
	color: var(--white-color);
	margin-bottom: 2rem;
}

.detailPageWrapper {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: repeat(1, 1fr);
	gap: 3rem;
	margin-top: 10rem;

	@media (max-width: 1100px) {
		display: flex;
		flex-direction: column;
	}

	.singleItemWrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 3rem;
	}

	.details {
		.noteDetailsWrapper {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
			background-color: var(--black3-color);
			border-radius: 0.5rem;
			padding: 1rem;

			@media (max-width: 1100px) {
				width: 100%;
				margin-bottom: 4rem;
			}

			.detailsControls,
			div {
				background-color: var(--black4-color);
				color: var(--white-color);
				border-radius: 0.5rem;

				.user {
					display: flex;
					gap: 1rem;
					align-items: center;
					border-radius: 0.5rem;
					transition: background-color 0.2s ease;

					p {
						color: var(--white-color);
					}

					&:hover {
						background-color: var(--black3-color);
					}
				}

				.tags {
					svg {
						fill: var(--white-color);
					}
				}
			}

			.detailsControls {
				padding: 1rem;

				h3 {
					padding-bottom: 0.7rem;
				}
			}
		}
	}
}
