* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-family: Roboto;
	background-color: var(--black2-color);
}

::selection {
	color: white;
	background-color: var(--main-color);
}

:root {
	--main-color: rgb(25, 118, 210);
	--main-hover-color: rgb(24, 109, 194);
	--white-color: rgb(240, 240, 240);
	--grey-color: rgb(160, 160, 160);
	--black-color: rgb(13, 16, 22);
	--black2-color: rgb(11, 14, 19);
	--black3-color: rgb(19, 22, 30);
	--space2rem: 2rem;
	--basic-size: 1.3rem;
	--big-size: 1.7rem;
	--logo-size: 1.5rem;
	--small-size: 1rem;
	--biggest-size: 2.5rem;
}

a {
	text-decoration: none;
	color: initial;
}
