.notification {
	position: absolute;
	top: 0.4rem;
	right: -2rem;
	font-size: var(--mini-size);
	padding: 0.3rem 0.6rem;
	border-radius: 22rem;
	background-color: var(--main-color);
	color: white;
	pointer-events: none;
}
